.btn-green {
  @apply px-6 py-3 rounded bg-green-700 text-white text-sm font-bold whitespace-nowrap;

  &:hover, &:focus { @apply bg-orange-500 }
}

.btn-green.is-loading {
    color: transparent;
    pointer-events: none;
    position: relative;

    &:after {
        animation: spinAround 500ms infinite linear;
        border: 2px solid theme('colors.gray.300');
        border-radius: 50%;
        border-color: transparent transparent #fff #fff !important;
        content: "";
        display: block;
        height: 1em;
        left: calc(50% - (1em / 2));
        position: absolute;
        top: calc(50% - (1em / 2));
        width: 1em;
    }
}

@keyframes spinAround {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
